
@{
    ViewBag.Title = "Skills";
}
    <style>
        img {
            width: 70%;
            height: 70%;
            align-content: center;
            align-items: center
        }

        h2 {
            text-align: center;
        }
    </style>
    <div class="jumbotron">
        <h1>Habilidades </h1>

    </div>


    <div class="col-md-3">
        <img src="~/Content/Images/java-logo.png" />
        <h2> Java</h2>
        <p>
            Utilizando de conceitos de POO, no projeto foram aplicados as condições herança, utilizando um Veiculo "pai" e suas "filhas", carro, avião e caminhão.<br>

        </p>

        <p><a class="btn btn-default" href="https://github.com/gui-azesantos"> Repositório do Projeto | GitHub &raquo;</a></p>
       
    </div>
    
    <div class="col-md-3">
        <img src="~/Content/Images/CSharp.png" />
        <h2>C#</h2>
        Utilizando de conceitos de POO, no projeto foram aplicados conceitos de polimorfimos como Overide e overcharge para diferenciar metódos do "pai" para suas "filhas".<br>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos"> Repositório do Projeto | GitHub &raquo;</a></p>
        
    </div>

    <div class="col-md-3">
        <img src="~/Content/Images/htmlcss.png" />
        <h2>HTML e CSS</h2>
        <p>
            O Desafio 04 consistiui na construção de um software capaz de instanciar projetos de uma loja, instaciar a loja,
            calcular os impostos dos produtos e patrimonio total. Tudo que foi construido utlizou de conceitos de POO.
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos"> Repositório do Projeto | GitHub &raquo;</a></p>
        
    </div>
    <div class="col-md-3">
        <img src="~/Content/Images/JS.png" />
        <h2> JavaScript</h2>
        <p>
            O Desafio 05 é o atual site. Foi utilizado o MVC ASP.Net para sua construção, cujo os conceitos que foram estudados foram postos em prática.
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos"> Repositório do Projeto | GitHub &raquo;</a></p>
        
    </div>


