@{
    ViewBag.Title = "Projetos";
}
    <style>
        .img-responsive {
            margin: 0 auto;
            align-content: center;
            align-items: center;
        }
    </style>
<div class="jumbotron" style="background-color:black; color:white; font-family:Bahnschrift">
    <h1>Projetos</h1><br>
    <p class="lead">  Realizados no Treinamento GFT</p>

</div>

<div class="row">

    <!--Java-->
   
        <div class="col-md-3">
            <img class="img-responsive" src="~/Content/Images/repo.png" />
            <h2>Exercício  de Polimorfimo (Java)</h2>
            <p>
                Utilizando de conceitos de POO, no projeto foram aplicados as condições herança, utilizando um Veiculo "pai" para instaciar suas "filhas", carro, avião e caminhão.<br>
            </p>
            <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Exercicio-Polimorfismo"> GitHub &raquo;</a></p>
            </div>

            <div class="col-md-3">
                <img class="img-responsive" src="~/Content/Images/repo.png" />
                <h2>Prova POO (Java)</h2>

                <p>
                    Com o uso de POO, no projeto foram aplicados conceitos de polimorfimos como
                    Overide e Overcharge para diferenciar metódos do "pai" para suas "filhas". Também foram exploradas a manipulação de Arrays.
                    <br>
                </p>
                <p><a class="btn btn-default" href="https://github.com/gui-azesantos/ProvaPOO-Java"> GitHub &raquo;</a></p>
            </div>
         
            <div class="col-md-3">
                <img class="img-responsive" src="~/Content/Images/repo.png" />
                <h2> Desafio 04 (Java)</h2>
                <p>
                    O Desafio 04 consistiui na construção de um software capaz de instanciar projetos de uma loja, instaciar a loja,
                    calcular os impostos dos produtos e patrimonio total. Tudo que foi construido utlizou de conceitos de POO.
                </p>
                <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Desafio-04"> GitHub &raquo;</a></p>
            </div>


            <!--C#-->
            <div class="col-md-3">
                <img class="img-responsive" src="~/Content/Images/repo.png" />
                <h2>Exercício de Herança (C#)</h2>
                <p>
                    Utilizando de conceitos de POO, no projeto foram aplicados as condições herança, utilizando um Veiculo "pai" para instaciar suas "filhas", carro, avião e caminhão.<br>
                </p>
                <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Heranca-e-PolimorfismoCSharp"> GitHub &raquo;</a></p>
            </div>

            <div class="col-md-3">
                <img class="img-responsive" src="~/Content/Images/repo.png" />
                <h2>Prova POO (C#)</h2>
                <p>
                    Com o uso de POO, no projeto foram aplicados conceitos de polimorfimos como
                    Overide e Overcharge para diferenciar metódos do "pai" para suas "filhas". Também foram exploradas a manipulação de Arrays.
                    <br>
                </p>
                <p><a class="btn btn-default" href="https://github.com/gui-azesantos/ProvaPOO-CSharp"> GitHub &raquo;</a></p>

            </div>

            <div class="col-md-3">
                <img class="img-responsive" src="~/Content/Images/repo.png" />
                <h2>Desafio 04(C#)</h2>
                <p>
                    O Desafio 04 consistiui na construção de um software capaz de instanciar projetos de uma loja, instaciar a loja,
                    calcular os impostos dos produtos e patrimonio total. Tudo que foi construido utlizou de conceitos de POO.
                </p>
                <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Desafio04-CSharp">  GitHub &raquo;</a></p>
            </div>

            <div class="col-md-3">
                <img class="img-responsive" src="~/Content/Images/repo.png" />
                <h2>Desafio 05(C#- ASP.Net MVC)</h2>
                <p>
                    O Desafio 05 é o atual site. Foi utilizado o MVC ASP.Net para sua construção, cujo os conceitos estudados foram postos em prática.
                </p>
                <p><a class="btn btn-default" href="https://github.com/gui-azesantos/Desafio05"> GitHub &raquo;</a></p>
                <!--C#-->
            </div>
</div>


