@{
    ViewBag.Title = "Projetos";
}

<div class="jumbotron">
    <h1>PROJETOS- Realizados no Treinamento GFT</h1>
   
</div>

<div class="row">



    <div class="col-md-4">
        <h2>Exercio de Herança (C# e Java)</h2>
        <p>
            Utilizando de conceitos de POO, no projeto foram aplicados as condições herança, utilizando um Veiculo "pai" e suas "filhas", carro, avião e caminhão.<br>


        </p>  
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos"> Repositório do Projeto | GitHub &raquo;</a></p>
       
    </div>
    <div class="col-md-4">
        <h2>Exercio de Polimorfimo (C# e Java)</h2>
        Utilizando de conceitos de POO, no projeto foram aplicados conceitos de polimorfimos como Overide e overcharge para diferenciar metódos do "pai" para suas "filhas".<br>
                                                                                                                                                                            <p>

                                                                                                                                                                            </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos"> Repositório do Projeto | GitHub &raquo;</a></p>
        
    </div>

    <div class="col-md-4">
        <h2> Desafio 04(C# e Java)</h2>
        <p>
            O Desafio 04 consistiui na construção de um software capaz de instanciar projetos de uma loja, instaciar a loja,
            calcular os impostos dos produtos e patrimonio total. Tudo que foi construido utlizou de conceitos de POO.
        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos"> Repositório do Projeto | GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Desafio 05 (C# - ASP.Net MVC)</h2>
        <p> O Desafio 05 é o atual site. Foi utilizado o MVC ASP.Net para sua construção, cujo os conceitos que foram estudados foram postos em prática. 

        </p>
        <p><a class="btn btn-default" href="https://github.com/gui-azesantos"> Repositório do Projeto | GitHub &raquo;</a></p>
    </div>
</div>


