@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">  Minha primeira aplicação ASP.NET MVC .</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Projetos</h2>
        <p>
            Sessão direcionada aos meios de contatado comigo
        </p>
        <p><a class="btn btn-default" href="~/Projetos/Index">Clique aqui! &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Skill</h2>
        <p> Sessão direcionada aos meios de contatado comigo</p>
        <p><a class="btn btn-default" href="/Skills/Index">Clique aqui! &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Contatos</h2>
        <p> Sessão direcionada aos meios de contatado comigo</p>
        <p><a class="btn btn-default" href="~/Home/Contatos">Clique aqui! &raquo;</a></p>
    </div>
</div>